html{
    height: 100%;
}
body{
  background-color: #3A393B;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Contenido*/
#Gral01{
    height: 90%;
    width: 500px;
}
#top01{
    background-color: #A46F18;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Logo01{
    width: 70%;
}
#contenido01{
    background-color: #939598;
    height: 70%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
#Parrafo{
    grid-area: 2;
    font-family: FuenteWebUbuntu02;
    color: #403F41;
    text-align: center;
    font-size: 115%;
    margin: 3% 10% 0 10%;
}
#Parrafoyt{
    grid-area: 2;
    font-family: FuenteWebUbuntu01;
    color: #403F41;
    text-align: center;
    font-size: 115%;
    margin: 3% 10% 0 10%;
}
#botoneslista{
    width: 100%;
    grid-area: 3;
}
a:hover{
    background-color: #3A393B;
    box-shadow: 2px 3px 0 0 rgba(255, 255, 255, .4);
    
}
.botones{
    font-family: FuenteWebUbuntu03;
    font-size: 130%;
    color: #E3E4E5;
    display: flex;
    align-items: center;
    margin: 3% 10%;
    height: 50px;
    background-color: #A46F18;
    border-radius: 15px;
    box-shadow: 3.5px 4.5px 0 0 rgba(0, 0, 0, .1);
}
.TextoBotones{
    margin-left: 10px;
}
.Iconos{
    align-items: center;
    height: 70%;
    margin-left: 10%;
}